 body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #FAFAFA;
        font: 12pt "Tahoma";
    }

* {
        box-sizing: border-box;
        -moz-box-sizing: border-box;
    }

.rows {
   display: flex;
}

.card {
   border: 5px black solid;
   width: 95mm;
   min-height: 88mm;
   flex-grow: 1;
   margin: 0px;
}
